/* ------------------------------ Default Mobile Design ------------------------------ */

/* -------------------- 
    Variables
---------------------*/
:root {
    /* Primary colors */
    --clr-prim-yellow: hsl(54, 77%, 75%);
    --clr-prim-green: hsl(157, 100%, 49%);
    --clr-prim-red: hsl(0, 79%, 72%);
    --clr-prim-blue: hsl(197, 71%, 73%);

    /* Secondary colors */
    --clr-heading: hsl(0, 0%, 100%);
    --clr-text: hsl(244, 23%, 12%);
    --clr-accent: hsl(240, 100%, 50%);

    /* Fonts */
    --ff-primary: 'Helvetica', sans-serif;
}
/* -------------------- 
    Global Styles
---------------------*/
*, ::before, ::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: var(--ff-primary);
}
header {
    background-image: url("./imgs/pattern.jpeg");
    margin: 5rem 1rem;
}
h1 {
    font-size: 100px;
    font-weight: bold;
    color: var(--clr-prim-yellow);
    text-align: center;
}
h2 {
    font-size: 32px;
    font-weight: bold;
    color: var(--clr-heading);
}
h3 {
    margin-bottom: 1rem;
}
span {
    font-weight: bold;
    color: var(--clr-accent);
}
main {
    margin-left: 1rem;
    margin-right: 1rem;
}
section {
    margin-bottom: 2.5rem;
}
figure {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}
/* -------------------- 
    Class Styles
---------------------*/
.brushes {
    background-color: var(--clr-prim-green);
}
.frames {
    background-color: var(--clr-prim-red);
}
.paint {
    background-color: var(--clr-prim-blue);
}